@import '../general/board_game_framework.css';

body {
    font-size: 100%;

}
a {
    text-decoration: none;
}


.game-border{
  display: inline-block;
  border: 2px solid black;
  width: 900px;
  vertical-align: top;
}


/* Tile CSS */
.tile.layout {
	display: inline-block;
}

.tile.hidden {
	background: #ffffff;
}

.tile.down {
	background: #cc7bf7;
}

.tile.up {
	background: #06683f;
}

.tile.goal {
	background: #edde17;
}
.tile.start {
	background: #000000;
}

/* Terrains */
.tile.forest {
	background: #005609;
}

.tile.water {
	background: #3d66ed;
}

.tile.desert {
	background: #dd0606;
}


/* Highlighting a tile to move to*/
.tile.available-move {
	-webkit-box-shadow:0 0 20px #000000;
    -moz-box-shadow: 0 0 20px #000000;
    box-shadow:0 0 20px #000000;
}

.mark-on {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin: 0px;
    padding: 0px;
	float:right;

	background: #000000;
}

.mark-off {

}

.tile-list ol{
	counter-reset: li;
	list-style: none;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin-bottom: 0em;
}

.tile.tile-list a{
	/*position: relative;*/
	display: block;
	padding: 0.5em 0.5em;
	width: 90px;
	height: 50px;
	margin: 0.5em 0.5em;
	color: #444;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.tile-list a:hover{
	counter-increment: li;
	text-decoration:none;
	transform: scale(1.1);
}


.player-board {
	border-spacing: 20px;
	border: 1px solid black;
}
.player-board td {
	border: 1px solid black;
}
.hidden-board{
   display: none;
}
.game-board{
}

/* end tile css */

/*Player CSS */
.player-piece {
	border-radius: 50%;
	border: 4px solid  #000000;
	width: 30px;
	height: 30px;
	margin: 0px;
    padding: 0px;
	float: left;
}

.player-piece.one {
	background: #a0ade5;
}
.player-piece.two {
	background: #a0ea9f;
}

.player-piece.one:after {
  content:"1";
  display: block;
  position: relative;

  color: black;
  font-size: 20px;

  left: 9px;
  top: 4px;
}

.player-piece.two:after {
  content:"2";
  display: block;
  position: relative;

  color: black;
  font-size: 20px;

  left: 9px;
  top: 4px;
}


.alien-piece {
	border-radius: 50%;
	border: 4px solid  #000000;
	width: 40px;
	height: 40px;
	/*cursor: move; */
	/*background: #005609;*/
}

.alien-piece.forest {
	background: #005609;
}
.alien-piece.water {
	background: #025077;
}
.alien-piece.desert {
	background: #770202;
}

.alien-display-table {
	border:none;
}
.alien-display-table td { border:0; }

.time-display-table {
	border:none;
}
.time-display-table td { border:0; }

/* Action buttons */
.end-turn {
	cursor: pointer;
}
.action-button {
	border-radius: 8px;
	background-color: #969696;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.action-button.active {

}
.action-button.inactive {
	opacity: 0.6;
    cursor: auto;
}

/* This should be tile css, but I'm having trouble getting it to work, will need to revisit and simplify */
.stats {
	display: block;
	padding: 0.15em 0.15em;
	width: 90px;
	height: 50px;
	margin: 0.15em 0.15em;

	text-align: center;
    text-decoration: none;
    font-size: 36px;
	float: left;
}
.stats.goal {
	background: #edde17;
}
.stats.forest {
	background: #005609;
}

.stats.water {
	background: #3d66ed;
}

.stats.desert {
	background: #dd0606;
}
.alien-landing {
	float: left;
}

.time {
	display: block;
	padding: 0.15em 0.15em;
	width: 90px;
	height: 50px;
	margin: 0.15em 0.15em;

	text-align: center;
    text-decoration: none;
    font-size: 16px;
	float: left;
}
.time.available-move {
	-webkit-box-shadow:0 0 20px #000000;
    -moz-box-shadow: 0 0 20px #000000;
    box-shadow:0 0 20px #000000;
}


.time.crisis {
	background: #cc7bf7;
}

.time.goal {
	background: #edde17;
}

.time.forest {
	background: #005609;
}

.time.water {
	background: #3d66ed;
}

.time.desert {
	background: #dd0606;
}


.levelup_button {
	display: block;
	padding: 0.15em 0.15em;
	width: 90px;
	height: 50px;
	margin: 0.15em 0.15em;

	text-align: center;
    text-decoration: none;
    font-size: 16px;
	float: left;
	background: #cc7bf7;
}
.levelup_button.available-move {
	-webkit-box-shadow:0 0 20px #000000;
    -moz-box-shadow: 0 0 20px #000000;
    box-shadow:0 0 20px #000000;
}

.player_card {
	display: block;
	padding: 0.15em 0.15em;
	width: 90px;
	height: 50px;
	margin: 0.15em 0.15em;

	text-align: center;
    text-decoration: none;
    font-size: 16px;
	float: left;
	background: #cc7bf7;
}
.player_card.available-move {
	-webkit-box-shadow:0 0 20px #000000;
    -moz-box-shadow: 0 0 20px #000000;
    box-shadow:0 0 20px #000000;
}
.market {
	float : right;
}
/*end player CSS */
